#page-local-college_course_templates-process .progress {
  margin: 100px;
  height: 2rem !important;
}

#page-local-college_course_templates-process #gotocourse {
  text-align: center;
}

#page-local-college_course_templates-process #gotocourse_btn {
  display: table;
  margin: 30px auto;
}

#page-local-college_course_templates-index #region-main .btn:hover, #page-local-college_course_templates-process #region-main .btn:hover {
    color: white !important;
}

#page-local-college_course_templates-index .template_thumb {
    /* -webkit-box-shadow: 0 4px 8px 1px #9c9c9c; */
    /*box-shadow: 0 4px 8px 1px #9c9c9c;*/
    border: 1px solid #d8d8d8;
}

#page-local-college_course_templates-index .tags {
  margin-bottom: 10px;
  display: block;
}

#page-local-college_course_templates-index #cct_admin_settings {
  margin-left: 20px;
}

#page-local-college_course_templates-index #btn_container {
  margin: 20px 0;
}

#page-local-college_course_templates-index .row.filter .btn {
  /*border-radius: 2em;*/
  margin-right: 10px;
}

#page-local-college_course_templates-index .confirm .confirm_container button, #page-local-college_course_templates-index .confirm .confirm_container form[name="proceed"] {
    width: 45%;
    margin: 10px 0;
}

#page-local-college_course_templates-index .confirm .confirm_container form .btn {
    width: 100%;
}

#page-local-college_course_templates-index .row.filter h2 {
    background: #62a8ea;
    color: #fff;
    padding: 10px;
    border-radius: .126em;
}

#page-local-college_course_templates-process .progress-bar {
  line-height: 28px;
}

#page-local-college_course_templates-index .filter_buttons_container {
    padding: 30px 65px;
}

#page-local-college_course_templates-index .filter_buttons_container .btn {
    margin: 5px;
    min-width: 150px;
}

#page-local-college_course_templates-index .row {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

#page-local-college_course_templates-index .row div.dropdown {
  display: inline-block;
}

/*.moodle-dialogue-base .moodle-dialogue.yui3-widget-modal {
    top: 2800px;
}*/


/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  transform: scale(0.3);
  top: -15px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* end loader */